<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
  <title>Jets App</title>
  <%= javascript_pack_tag "application" %>
  <%= stylesheet_pack_tag "theme" %>
  <link rel="shortcut icon" href="<%= favicon_path %>">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark">
    <a href="/" class="navbar-brand">Home</a>
  </nav>
  <section class="starter">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><%= @title %></h1>
        <% if @hint %>
          <p class="lead">ヒント：<%= @hint %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </section>
</body>

</html>